// 全局样式
// 加载图标样式 记住  css样式是有分号的
@import "./icon.less";

body {
    background-color: #f5f7f9;
}
// 将头部的导航栏样式设置为全局的样式
.page-nav-bar {
    background-color: #3296fa!important;
    .van-nav-bar__title {
        color:#fff
    }
}